@{ 
	string Title = Model.WithoutSettings.String(BlogKeys.Title); 
	string PageTitle = Context.String(BlogKeys.Title) + (string.IsNullOrWhiteSpace(Title) ? string.Empty : " - " + Title);
}


<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @@ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>@PageTitle</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="@Context.GetLink("/assets/css/main.css")" />
		<noscript><link rel="stylesheet" href="@Context.GetLink("/assets/css/noscript.css")" /></noscript>
		<link rel="stylesheet" href="@Context.GetLink("/assets/css/wyam.css")" />
		<link rel="stylesheet" href="@Context.GetLink("/assets/css/override.css")" />
		@if(Model.ContainsKey(BlogKeys.Image))
		{
			<style>
				body {
					background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url(@Context.GetLink(Model.String(BlogKeys.Image)));
				}
				@@media screen and (max-width: 1280px) {
					#banner, #wrapper > header {
						background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url(@Context.GetLink(Model.String(BlogKeys.Image)));
					}
				}
			</style>
		}
        @Html.Partial("_Head")
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
		<div id="page-wrapper">
			
			<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="@Context.GetLink("/")">@Context.String(BlogKeys.Title)</a></h1>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

			<!-- Menu -->
			<nav id="menu">
				<div class="inner">
					<h2>Menu</h2>
					<ul class="links">
						@Html.Partial("_Navbar")
					</ul>
					<a href="#" class="close">Close</a>
				</div>
			</nav>

			@if(IsSectionDefined("Header"))
			{
				@RenderSection("Header")
			}
			else
			{
				@Html.Partial("_Header")                                           
			}

			<!-- Main -->
			<section id="wrapper">
				<section class="wrapper style2">
					<div class="inner">
						@RenderBody()
					</div>
				</section>
			
				@if(IsSectionDefined("Sections"))
				{
					@RenderSection("Sections")
				}
			</section>
			
			<!-- Footer -->
			<section id="footer">
				@Html.Partial("_Footer")
			</footer>
		</div>

		<!-- Scripts -->
		<script src="@Context.GetLink("/assets/js/jquery.min.js")"></script>
		<script src="@Context.GetLink("/assets/js/jquery.scrollex.min.js")"></script>
		<script src="@Context.GetLink("/assets/js/browser.min.js")"></script>
		<script src="@Context.GetLink("/assets/js/breakpoints.min.js")"></script>
		<script src="@Context.GetLink("/assets/js/util.js")"></script>
		<script src="@Context.GetLink("/assets/js/main.js")"></script>
	</body>
</html>